*.zip
*.so
*.o
*.pyc
*log
__pycache__
eval_dump
model_dump/*
output/*
tensorboard
lib/build
lib/pycocotools
lib/pycocotools/_mask.c
lib/pycocotools/_mask.so
.idea
data
.DS_Store
.DS_Store?
*.avi
*.mp4
